<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="#" class="brand">Admin+</a>
            <div class="nav-collapse">
                <ul class="nav">
                </ul>
                <p class="navbar-text pull-right"><a href="#logout">Logout</a></p>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
