<script src="js/jquery.galleriffic.js"></script>
<script src="js/jquery.opacityrollover.js"></script>
<link type="text/css" rel="stylesheet" media="screen" href="/css/galleriffic-2.css">

<div id="container">
    <!-- Start Advanced Gallery Html Containers -->
    <div class="content" id="gallery" style="display: block;">
        <div class="slideshow-container">
            <div class="loader" id="loading" style="display: none;"></div>
            <div class="slideshow" id="slideshow"><span class="image-wrapper current" style="opacity: 1;"><a title="Title #0" href="#drop" rel="history" class="advance-link">&nbsp;</a></span></div>
        </div>
        <div class="caption-container" id="caption"><span class="image-caption current" style="opacity: 1;"><div class="caption">
                    <div class="download">
                    </div>
                    <div class="image-title"></div>
                    <div class="image-desc"></div>
        </div></span></div>
    </div>
    <div class="navigation" id="thumbs" style="width: 300px; float: left; opacity: 1;"><div class="top pagination"><span class="current">1</span><a title="2" href="#16" rel="history">2</a><a title="Next ›" href="#16" rel="history">Next ›</a></div>
        <ul class="thumbs">
            {{#data}}
            <li id="{{_id}}">
              <a href="http://photos.bharati.ru/{{url_id}}?size=675x875" class="thumb" rel="history">
                <img src="http://photos.bharati.ru/{{url_id}}?size=92x92&thumb=1&round=1">
              </a>
            </li>
            {{/data}}
        </ul>
        <div class="bottom pagination"><span class="current">1</span><a title="2" href="#16" rel="history">2</a><a title="Next ›" href="#16" rel="history">Next ›</a></div></div>
    <div style="clear: both;"></div>
</div>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				// We only want these styles applied when javascript is enabled
				$('div.navigation').css({'width' : '300px', 'float' : 'left'});
				$('div.content').css('display', 'block');

				// Initially set opacity on thumbs and add
				// additional styling for hover effect on thumbs
				var onMouseOutOpacity = 0.67;
				$('#thumbs ul.thumbs li').opacityrollover({
					mouseOutOpacity:   onMouseOutOpacity,
					mouseOverOpacity:  1.0,
					fadeSpeed:         'fast',
					exemptionSelector: '.selected'
				});
				
				// Initialize Advanced Galleriffic Gallery
				var gallery = $('#thumbs').galleriffic({
					delay:                     2500,
					numThumbs:                 15,
					preloadAhead:              10,
					enableTopPager:            true,
					enableBottomPager:         true,
					maxPagesToShow:            7,
					imageContainerSel:         '#slideshow',
					controlsContainerSel:      '#controls',
					captionContainerSel:       '#caption',
					loadingContainerSel:       '#loading',
					renderSSControls:          true,
					renderNavControls:         true,
					playLinkText:              'Play Slideshow',
					pauseLinkText:             'Pause Slideshow',
					prevLinkText:              '&lsaquo; Previous Photo',
					nextLinkText:              'Next Photo &rsaquo;',
					nextPageLinkText:          'Next &rsaquo;',
					prevPageLinkText:          '&lsaquo; Prev',
					enableHistory:             false,
					autoStart:                 false,
					syncTransitions:           true,
					defaultTransitionDuration: 900,
					onSlideChange:             function(prevIndex, nextIndex) {
						// 'this' refers to the gallery, which is an extension of $('#thumbs')
						this.find('ul.thumbs').children()
							.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
							.eq(nextIndex).fadeTo('fast', 1.0);
					},
					onPageTransitionOut:       function(callback) {
						this.fadeTo('fast', 0.0, callback);
					},
					onPageTransitionIn:        function() {
						this.fadeTo('fast', 1.0);
					}
				});
			});
		</script>
